/* ---------------------------------------------------------------------------
Thème OS_glass 

theme-enfant de OS_default

by flop25 http://www.planete-flop.fr/
------------------------------------------------------------------------------ */


/* text color */
BODY, H1, H2, H3, DT,
INPUT.rateButtonSelected  {
  color:#000033;
}

/* backgrounds */
body {
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment:fixed;
	font-size:0.7em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #104088;
}
BODY#theCommentsPage .content,
BODY#theUploadPage .content,
BODY#theRegisterPage .content,
BODY#theIdentificationPage .content,
BODY#theProfilePage .content,
BODY#theSearchPage .content,
BODY#theAboutPage .content,
BODY#thePopuphelpPage .content,
BODY#thePasswordPage .content,
BODY#theNotificationPage .content,
BODY#theTagsPage .content,
BODY#theNBMPage .content
{
background: transparent url(images/section_in.png) repeat top center;
}
H2, .row1 {
  background-color: #d3d3d3;
}

.header_notes {
  background-color: #eeeeee;
}
#comments {
background: transparent url(images/section_in.png) repeat top center;
}
#comments H3, .titrePage h2 {
	background-image: url(images/boutton.png);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	color: #000000;
	border: 1px solid #FFFFFF;
}

.content DIV.thumbnailCategory {
	background-image: url(../OS_default/icon/menu/folder.png);
	background-position: left bottom;
	background-repeat:no-repeat;
}
/* header */
#theHeader {
	background-image: url(images/header3.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	background-color: #000000;
	color:#FFFFFF;
	font-size:1.2em;
	font-weight:bold;
}
#theHeader H1 {
	color:#FFFFFF;
	font-weight:bold;
}

/* contenu "section" */
#section_up_left{
	background-image: url(images/section_up_left.png);
	background-position:right bottom;
	background-repeat:no-repeat;
 height:50px;
}
#section_up {
 background-image: url(images/section_up.png);
 background-position:bottom;
 background-repeat:repeat-x;
 height:50px;
}
#section_up_right{
 background-image: url(images/section_up_right.png);
 background-position:left bottom;
 background-repeat:no-repeat;
 height:50px;
}
#section_left{
 background-image: url(images/section_left.png);
 background-position:right;
 background-repeat:repeat-y;
}
#section_bottom_left{
 background-image: url(images/section_bottom_left.png);
 background-position:top right;
 background-repeat:no-repeat;
}
#section_bottom {
 background-image: url(images/section_bottom.png);
 background-position:top;
 background-repeat:repeat-x;
}
#section_bottom_right{
 background-image: url(images/section_bottom_right.png);
 background-position:left top;
 background-repeat:no-repeat;
}
#section_right{
 background-image: url(images/section_right.png);
 background-repeat:repeat-y;
 background-position:left;
}


/* menu Haut*/
#div_Menu {
	background-image: url(images/fondMenu2.gif);
	background-repeat:repeat-x;
}

ul#Menu, ul#Menu li
{
	background:transparent;
}
ul#Menu li:hover
{
color: #fff;
background-image: url(images/fondMenuSurvol.gif);
background-repeat:repeat-x;
background-position:center;
background-color:transparent;
	text-decoration: none;
    border-bottom: none;
}
/* menubar */
#menubar DL, #section_in{
background: transparent url(images/section_in.png) repeat top center;
}
#menubar DT{
	background-image: url(images/boutton.png);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	}

/* borders */
#menubar DL, #comments DIV.comment BLOCKQUOTE {
  border: 1px solid #fff;
}

#theImage IMG {
  border-color: #fff;
}
#linkNext, #linkPrev {
  border: 2px solid #fff;
}

.content UL.thumbnail IMG {
    border: 1px solid #a0a0a0;
}

FIELDSET, INPUT, SELECT, TEXTAREA,
.content DIV.comment  A.illustration IMG,
.content DIV.thumbnailCategory {
  border: 1px solid #fff;
}

#comments DIV.comment BLOCKQUOTE {
  border-left: 2px solid #696969;
  background-color: #eee;
}

.content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #fff;	/* thumbnails border color and style */
  border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}

.content UL.thumbnails SPAN.wrap2:hover,
.content UL.thumbnailCategories DIV.thumbnailCategory:hover,
.content UL.thumbnailCategories DIV.thumbnailCategory:hover A {
  background-color: #FFFFFF;
  border-color: #0066CC;		/* thumbnails border color when mouse cursor is over it */
  color: #0066CC;
}
.illustration IMG {
	border: 2px solid #FFFFFF;
}
/* links */
A, INPUT.rateButton {
    color: #000033;
    background: transparent;
}

A:hover, INPUT.rateButton:hover {
    color: #000000;
}

#imageToolBar A, #imageToolBar A:hover {
    border-bottom: none;
}

A.navThumb, A.navThumb:hover {
    border-bottom: none;
}
#div_Menu A {
	color:#FFFFFF;
	text-decoration: none;
}
#div_Menu A:hover {
	text-decoration: none;
    border-bottom: none;
}
/* Picture */
#imageHeaderBar {
	background-image: url(images/fondblack2.png);
	background-repeat:repeat-x;
	background-position: center top;
	background-color: #000000;
}
#imageHeaderBar h2 {
background:transparent;
color:#FFFFFF
}
#imageHeaderBar, #imageHeaderBar A {
color:#FFFFFF;
}
#imageToolBar .randomButtons, #imageToolBar .navButtons {
background:transparent;
}
#imageToolBar .navButtons {
background:transparent;

}
#imageToolBar {
	background-image: url(images/fondblack_bas.png);
	background-repeat:repeat-x;
	background-position: center bottom;
	background-color: #000000;
  color:#fff;
}/*
#imageToolBar A:hover {
background-image: url(images/fondMenuSurvol.gif);
background-repeat:repeat-x;
background-position:center;
background-color:transparent;
}*/
#action_pict {
	border: 2px solid #FFFFFF;
    background: transparent url(images/section_in.png) repeat top center;
    color:#000;
    font-weight:bold;
}
#imageToolBar {
    height: 60px;
}
#imageToolBar #thumbPrev, #imageToolBar #thumbNext {
	margin-left:5px;
	margin-right:5px;
	display:inline;
	width:auto;
}
#imageToolBar #thumbCurrent {
	margin-left:5px;
	margin-right:5px;
	display:inline;
	width:auto;
}
#imageToolBar #linkPrev, #imageToolBar #thumbCurrent, #imageToolBar #linkNext {
	border:#FFF solid 2px;
	width:auto;
}
#derivativeSwitchBox, #sortOrderBox {
	font-size: 11px;
	color: #000033;
	text-shadow: 0 0 2px #ccc;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#fff));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
	-moz-box-shadow: 0 0 5px #555;
}
#derivativeSwitchBox A:hover, #sortOrderBox A:hover {
	text-shadow: 0 0 2px #000;
}

/*calendar elements*/
SPAN.calItem, SPAN.calItemEmpty
{
  border: 1px solid silver;
}

.virtual_cat { background: #fff !important; }
#mbMenu #quicksearch > p { text-align: left; }
form p { text-align:center; }
#qsearchInput { color: #000; }
#qsearchInput:focus { color: #000; }

UL.tabsheet LI.normal_tab { background-color: #d3d3d3; }
UL.tabsheet LI.selected_tab { background-color: #eeeeee; }

UL.tabsheet, UL.tabsheet LI {border-color: gray;}
UL.tabsheet LI.normal_tab:hover { border-color: black; }

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}